<div class="task__bar">
    <div class="task__bar-title">
        <div class="task__bar-title_img"> </div>
    ПОКАЖИ НА ЧТО СПОСОБЕН!
    </div>
    <div class=task__bar-icons>
        <div class="math_task"></div>
        <div class="eng_ru_translate "> </div>
        <div class="ru_eng_translate"> </div>
        <div class="listening_eng_ru"></div>
        <div class="listening_ru_eng "> </div>
        <div class="listening_eng"> </div>
        <div class="listening_ru"> </div>
        <div class="write_word"> </div>
    </div>
</div>
