.task__bar {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 34%;
    height: 95%;
    background-color: #494f5b;
    border-radius: 20px;

    .task__bar-icons {
        display: flex;
        width: 375px;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
        .math_task {
            background-image: url("../components/task_bar/img/math_icon.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }
        .math_task:hover {
            transform: scale(1.1)
        }

        .write_word {
            background-image: url("../components/task_bar/img/collect_word.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%; 
        }

        .write_word:hover {
            transform: scale(1.1)
        }
    
        .eng_ru_translate {
            background-image: url("../components/task_bar/img/eng_ru_icon.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }

        .eng_ru_translate:hover {
            transform: scale(1.1)
        }
    
        .ru_eng_translate {
            background-image: url("../components/task_bar/img/ru_eng_icon.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }

        .ru_eng_translate:hover {
            transform: scale(1.1)
        }

        .listening_eng_ru {
            background-image: url("../components/task_bar/img/listening_eng_ru.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }

        .listening_eng_ru:hover {
            transform: scale(1.1)
        }

        .listening_ru_eng {
            background-image: url("../components/task_bar/img/listening_ru_eng.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }
        .listening_ru_eng:hover {
            transform: scale(1.1)
        }

        .listening_eng {
            background-image: url("../components/task_bar/img/listening_eng.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }
        .listening_eng:hover {
            transform: scale(1.1)
        }

        .listening_ru {
            background-image: url("../components/task_bar/img/listening_ru.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }
        .listening_ru:hover {
            transform: scale(1.1)
        }

        .write_word_ru {
            background-image: url("../components/task_bar/img/collect_wordRu.png"); 
            width: 110px;
            height: 110px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            margin-bottom: 23px;
            border-radius: 50%;
        }
        .write_word_ru:hover {
            transform: scale(1.1)
        }
    
    }

    
    .task__bar-title {
        position: relative;
        width: 363px;
        padding: 12px 0;
        background-color: #99a3af;
        border-radius: 40px;
        margin: 50px auto;
        color: white;
        font-weight: bold;
        font-size: 20;
        text-align: center;
        .task__bar-title_img{
            position: absolute;
            top: -30px;
            left: -10px;
            width: 133px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
        background-image: url("../components/task_bar/img/cup.png"); 
        }

    }
}