
    <div class="table__container">

        <div class="login__table">
            <div class="input__container">
                <label class="input__container-lable" for="name_input">ENTER YOUR NAME</label>
                <input id="input__container-input" type="text" size="40" >
                <div class="warning">Please choose name</div>
            </div>
                <div class="hero__container">
                        <div class="hero__container-circle boy">
                            <div class="hero__container-boy"> </div>
                        </div>
            
                       <div class="hero__container-circle girl">
                           <div class="hero__container-girl"> </div>
                        </div> 
                        
                    </div>
               <div class="button__play"> </div>
        </div>
        
    </div>
