*{
    padding: 0;
    margin: 0;
}

.table__container {
    position: absolute;
    width: 100%;
    height: 65%;
    .login__table {
        position: relative;
        margin: 5% auto;
        width: 60%;
        height: 100%;
        background-image: url("../components/login/img/login_table.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        .hero__container {
            top: 40%;
            right: 30%;
            display: flex;
            justify-content: space-around;
            position: absolute;
            width: 40%;
            .hero__container-circle:hover{
                cursor: pointer;
            }
            .hero__container-girl {
                height: 275px;
                border-radius: 50%;
                background-image: url("../components/login/img/girl.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left;
            }
            .hero__container-boy{
                height: 260px;
                border-radius: 50%;
                background-image: url("../components/login/img/boy.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .hero__container-circle {
                overflow: hidden;
                width: 175px;
                height: 175px;
                border-radius: 50%;
                background-color: white; 
                border: 2px solid #391001;
            }
        }
        .input__container{
            top: 20%;
            right: 30%;
            width: 40%;
            position: absolute;
            .lable__container-lable {
                display: block;
                margin: 0 auto;
                height: 20px;
            }
            #input__container-input {
                margin: 0 auto; 
                display: block
            }
            .warning {
                display: none;
            }
        }
        .button__play {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: calc(50% - 120px);
            height: 210px;
            width: 246px;
            background-image: url("../components/login/img/button_play.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}


