<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="table__container">

        <div class="login__table">
            <div class="input__container">
                <label class="input__container-lable" for="name_input">ENTER YOUR NAME</label>
                <input id="input__container-input" type="text" size="40" >
            </div>
                <div class="hero__container">
                        <div class="hero__container-circle">
                            <div class="hero__container-boy"> </div>
                        </div>
            
                       <div class="hero__container-circle">
                           <div class="hero__container-girl"> </div>
                        </div> 
                        <div class="button__play"> </div>
                    </div>
        </div>
        
    </div>
</body>
</html>