<section id = 'task-Level'>
    <h1 id = "task-Level__h1"></h1>
    <h2 id = "task-Level__h2">Необходимо правильно перевести слово</h2>
    <h3 id = "task-Level__h3"></h3>
    <audio id="audio"  autoplay="true" ></audio>
    <div id = "replayButton" role = "button" title = "Прослушать еще раз"><img src = "../assets/repeat.png"></div>
    <input id = "task-Level__input" type = "text" placeholder = "Введи перевод слова" required autofocus>
    <button id = "task-Level__button" class = "task-Level__answer">Ответить</button>
</section>