
.monster_inform {
    position: absolute;
    top: 15%;
    right: 10%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
}

.monster_helth {
    width: 300px;
    height: 20px;
   background-color: green;
   color: white;
   border-radius: 20px;
   padding: 5px;
   font-weight: bold;
   transition: width 1s;
}

.monster_name {
    font-size: 20px;
    margin: 5%;
}

.monster { 
    width: 210px;
    height: 335px;
    position: absolute;
    top: 30%;
    left: 65%;
}



.monster .monster_head {
    width: 72%;
    height: 81%;
    position: absolute;
    left: 16%;
    top: 4%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: monster_head 1.8s linear infinite;
}


.monster .monster_body {
   
    width: 90%;
    height: 118%;
    position: absolute;
    left: 3%;
    top: 37%;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 50% 50% 0;
}

.monster .monster_hand_right {
    width: 48%;
    height: 92%;
    position: absolute;
    left: -27%;
    top: 38%;
    background-size: contain;
    background-repeat: no-repeat; 
    animation: monster_right_hend 2.3s linear infinite;
    transform-origin: 80% 10% 0;
}

.monster .monster_hand_left{
  
    width: 99%;
    height: 136%;
    position: absolute;
    left: 14%;
    top: 36%;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: 80% 10% 0;
    animation: monster_left_hend 1s linear infinite;
}

@keyframes monster_body {
    0% {transform: rotate(-5deg);}
    50% {transform:  rotate(5deg);}
    100% {transform:  rotate(-5deg);}
}

@keyframes monster_head {
    0% {transform: translate(0) rotate(0);}
    50% {transform: translate(0,5px) rotate(-15deg);}
    100% {transform:  translate(0) rotate(0);}
}

@keyframes monster_right_hend {
    0% {transform:  translate(0, 0) rotate(0deg);}
    25% {transform:  translate(-5px, 5px);}
    50% {transform:  translate(0, 10px) rotate(5deg);}
    75% {transform:  translate(5px, 5px);}
    100% {transform:  translate(0, 0) rotate(0deg);}
}

@keyframes monster_left_hend {
    0% {transform:  rotate(0);}
    50% {transform: rotate(5deg);}
    100% {transform:  rotate(0);}
}