<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math task</title>
    <link rel="stylesheet" href="./math.css">
</head>
<body>
   <!-- <section class = 'task-1Level'>
        <h1 class = "task-1Level__h1">Уровень 1</h1>
        <h2 сlass = "task-1Level__h2">Ответь на вопрос:</h2>
        <h3 сlass = "task-1Level__h3"></h3>
        <input class = "task-1Level__input" type = "number" placeholder=" Введи число" max = "999999" maxlength="7" required autofocus>
    </section>-->
    <script type="text/javascript" src="./MathJS/mathTaskLevel1.js"></script>
</body>
</html>