* {
    margin: 0;
    padding: 0;
}
h1, h2, h3{
    text-align: center;
    
}

h4 {
    position: relative;
    text-align: center;
    color: rgb(168, 54, 54);
    font-size: 40px;
//     position: absolute;
        top: 30%;
//     left: 40%;
}

section {
    display: grid;
    width: 50%;
    height: 35%;
    padding: 1%;
    position: fixed;
    top: 30%;
    right: 20%;
    background-color: #FFE4C4;
    border: 30px solid  #FFE4C4;
    background-clip: border-box;
    border-image-slice: 196 220 213 216; 
    border-image-width: 20px 20px 20px 20px;  
    border-image-outset: 0px 0px 0px 0px; 
    border-image-repeat: round round; 
    border-image-source: url("../components/tasks/MathTask/assets/frame.png");
}
.task-Level__input {
    width: 90%;
    height: 40%;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    margin: 5%;
}
#task-Level__button {
    height: 85%;
    width: 45%;
    border-radius: 5px;
    outline: none;
    background: rgb(214, 99, 99);
    color : white;
    margin: 2% 27%;
}